<!---->
<launch>
	<arg name="press_button" default="true"/>
	<arg name="tf" default="true"/>

	<include file="$(find robotic_arm_mbpo_moveit_config)/launch/demo.launch"/>
	<include file="$(find robot_position_cmd)/launch/init_interfaces.launch"/>

	<node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="0.005 -0.06 0.28 -1.5707 0 -1.5707 base_arm_link tf_camera 20" output="screen" />

	<node pkg="robot_position_cmd" type="motors_control.py" name="motors_control" output="screen" />

	<group if="$(arg press_button)">
		<node pkg="robot_position_cmd" type="robot_trajectory_modified" name="robot_movement_command" output="screen" />
	</group>

	<group unless="$(arg press_button)">
		<node pkg="robot_position_cmd" type="robot_trajectory_modified_contact" name="robot_movement_command" output="screen" />
	</group>

	<group if="$(arg tf)">
		<node pkg="tensorflow_object_detector" type="object_detection_ros.py" name="object_detection" output="screen" />
	</group>

	<group unless="$(arg tf)">
		<node pkg="opencv_ros" type="get_clicked_img" name="get_clicked_img" output="screen" />
	</group>

	<include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

	<node pkg="camera_match" type="pixel_to_depth_improve" name="pixel_to_depth" output="screen" />

</launch>
